<configuration debug="true">

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="lokipender" class="com.github.kimble.lokipender.LokiAppender">
        <componentName>junit</componentName>
        <host>localhost</host>
        <port>9095</port>

        <encoder>
            <pattern>level="%level" thread="%thread" logger="%logger{36}" message="%msg"%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="lokipender" />
    </root>
</configuration>